

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #100E17;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

img, video, iframe {
  max-width: 100%;
  height: auto;
}
/* body::-webkit-scrollbar{
  display: none;
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
